body {
      font-family: 'Original Surfer', cursive;
      font-weight: bold;
      background-image: linear-gradient(to bottom right, #534BFD, #00A577);
      color: #ffffff;
}

ul {
      list-style: none;
}
ul li {
      margin: 10px 0;
      text-shadow: 2px 2px #7a7a7a;
}